body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #eff0e1;
}

.App {
  text-align: center;
}

button {
  height: 5vh;
  width: 31vh;
  background-color: #394B09;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 1.5rem;
}

.buttonConnect {
  display: flex;
}